@font-face {
  font-family: AsgaltRegular;
  src: url("fonts/asgalt-regular-webfont.eot");
  src: url("fonts/asgalt-regular-webfont.eot?#iefix") format("embedded-opentype")
       url("fonts/asgalt-regular-webfont.woff2") format("woff2")
       url("fonts/asgalt-regular-webfont.woff") format("woff")
       url("fonts/asgalt-regular-webfont.ttf") format("truetype")
       url("fonts/asgalt-regular-webfont.svg#asgaltregular")
* {
  background-color: black;
  color: white;
  font-weight: normal;
  font-style: normal;
}
button {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    border-radius: 25px;
}   
.cost {
    background-color: lightgray;
    color: black;
}
h1 {
  font-family: AsgaltRegular;
  font-weight: normal;
  font-style: normal;
  font-size: 66.6px;
  padding: 0px;
}