@font-face {
  font-family: ForcedSquare;
  src: url("fonts/forced_square-webfont.eot");
  src:
    url("fonts/forced_square-webfont.svg") format("svg"),
    url("fonts/forced_square-webfont.ttf") format("truetype"),
    url("fonts/forced_square-webfont.woff") format("woff");
}
* {
  background-color: black;
  color: white;
  font-family: ForcedSquare;
  font-weight: normal;
  font-style: normal;
}
button {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}   
.cost {
    background-color: lightgray;
    color: black;
}